.search-results {
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 1180px) {
    .search-results {
        text-align: left;
    }
}

.search-results .card {
    display: inline-block;
}