/* card */
.card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgb(255 255 255 / 0.5);
    background-position: center;
    background-size:  auto 100%;
    border-radius: 10px;
    margin: 0 20px 30px;
    transition: all .5s;
    position: relative;
    min-height: 400px;
    max-width: 240px;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-size: auto 110%;
    box-shadow: inner;
}

.card._addCard {
    background: rgb(207, 207, 207);
}

.card._addCard .addNewCard {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 400px;
    width: 100%;
}

.card._addCard .addNewCard p {
    text-transform: uppercase;
    font-weight: 700;
}

.card._addCard .addNewCard span {
    transform: scale(1);
    text-align: center;
    background: #fff;
    border-radius: 50%;
    line-height: 100px;
    font-weight: bold;
    font-size: 60px;
    color: #666;
    display: block;
    height: 100px;
    width: 100px;
    transition: transform .5s;
}

.card._addCard .addNewCard:hover span {
    transform: scale(1.2);
}

.card._preview {
    background-color: rgba(0,0,0, 0.8);
}

.card._preview .preview {
    background: rgba(0,0,0, 0.8);
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    font-weight: bold;
    padding: 8px;
    font-size: 14px;
    color: yellow;
    width: 100%;
    right: 0px;
    top: 0px;
}

.card.caçador {
    background-image: url('./img/cacador.png');
}

.card.druida {
    background-image: url('./img/druida.png');
}

.card.paladino {
    background-image: url('./img/paladino.png');
}

.card.mago {
    background-image: url('./img/mago.png');
}

.card.qualquer {
    background-image: url('./img/qualquer.png');
}

.card .actions {
    position: absolute;
    bottom: -35px;
    width: 100%;
    transition: bottom .3s;
}

.card:hover .actions {
    bottom: 0;
}

.card button {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    width: 50%;
}

.card button:hover {
    box-shadow: inset 0 0 10px 5px rgba(0,0,0, 0.2);
    outline: none;
}

.card .delete {
    background-color: rgb(200, 130, 0);
}

.card .edit {
    background-color: rgb(0, 165, 180);
}

.card .save {
    background-color: rgb(126, 180, 0);
}

.card .discard {
    background-color: rgb(180, 0, 0);
}

.card .wrap {
    bottom: 0;
    width: 100%;
    color: #fff;
    position: absolute;
    text-align: center;
    padding: 20px 20px 40px;
    background: rgba(0,0,0, 0.5);
    text-shadow: 0 2px 5px rgba(0,0,0, 0.7);
}

.card-name {
    text-transform: uppercase;
}

.card-attack,
.card-defense {
    display: block;
    font-weight: 700;
}

.card._preview .card-attack,
.card._preview .card-defense {
    margin-bottom: 20px;
}

.card-attack {
    color: #edb825;
}

.card-defense {
    color: #edb825;
}

.card-attack,
.card-defense {
    display: inline-block;
    margin: 0 10px;
}

.card textarea {
    height: 80px;
}

.card label {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card label input,
.card label select {
    max-width: 50%;
    margin-left: 5px;
    text-align: center;
}

.card textarea,
.card select,
.card input {
    background: rgba(250,250,250, 0.8);
    width: 100%;
    border: none;
    padding: 7px 10px;
    margin-bottom: 10px;
}