/* card */
.card {
    background: rgb(255 255 255 / 0.5);
    background-position: center;
    padding: 250px 0px 0px;
    background-size: cover;
    border-radius: 10px;
    margin: 0 20px 30px;
    position: relative;
    max-width: 240px;
    overflow: hidden;
    width: 100%;
}

.card .wrap {
    color: #fff;
    text-align: center;
    padding: 10px 20px 20px;
    background: rgba(0,0,0, 0.5);
    text-shadow: 0 2px 5px rgba(0,0,0, 0.7);
}

.card-name {
    text-transform: uppercase;
}

.card-attack,
.card-defense {
    display: block;
    font-weight: 700;
}

.card-attack {
    color: #edb825;
}

.card-defense {
    color: #edb825;
}

.card-attack,
.card-defense {
    display: inline-block;
    margin: 0 10px;
}